---
interface Props {
    url?: string,
    title?: string,
    releasedDate?: string,
    tags?: string,
    durationArticle?: number
}

const { title, url, releasedDate, tags, durationArticle } = Astro.props

---
<a href={url} class="p-2 hover:bg-white hover:bg-opacity-5 block rounded mb-2">
    <article class="flex border-top">
        <picture class="pr-3 ml-1 flex items-center justify-center">
            <img src="/tags/react.png" alt="react" width="48" height="48" />
        </picture>
        <div>
            <p class="text-lg font-semibold">{title}</p>
            <time class="text-xs pt-1">{releasedDate}</time>
        </div>
    </article>
</a>